{% load static %}
<footer>
    <div class="container">
        <div class="row contact-menu">
            <div class="col-8 col-sm-8">
                <p class="address">Matthias Brück<br>Am Pumpwerk 4<br>12524 Berlin</p>
                <p class="email"><a href="mailto:hi@brueck.io">hi@brueck.io</a><br>
                <a href="tel:+4917699093233">+49 176 9909 3233</a></p>
            </div>
            <div class="col-4 col-sm-3 offset-sm-1 menu">
                <ul class="list-unstyled">
                    {% for menu_item in menu_items %}
                    <li class="{% if page.url ==  menu_item.url %} active{% endif %}"><a href="{{ menu_item.url }}" class="">{{ menu_item.title }}</a></li>
                    {% endfor %}
                </ul>
                <hr align="left">
                <div class="social-media">
                    <p>
                        <a href="https://github.com/bruecksen" target="_blank">Github</a><br>
                        <a href="" target="_blank">LinkedIn</a><br>
                        <a href="https://www.xing.com/profile/Matthias_Brueck10/" target="_blank">XING</a></p>
                </div>
            </div>
        </div>
        <div class="row copyright align-items-end">
            <div class="col-10 offset-1 col-md-12 offset-md-0">
                <p class="copyright-text">{% now "Y" %} &copy; brueck.io | <a href="">Impressum</a> | <a href="">Datenschutz</a></a></p>
            </div>
        </div>
    </div>
</footer>