{% load static %}
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            {% include 'widgets/logo.svg' %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
          <span class="fa fa-times"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="main-menu">
          <ul class="navbar-nav mx-auto">
              {% for menu_item in menu_items %}
              <li class="nav-item">
                <a class="nav-link hover-underline-animation{% if page.url ==  menu_item.url %} active{% endif %}" href="{{ menu_item.url }}">{{ menu_item.title}}</a>
              </li>
              {% endfor %}
          </ul>
          <ul class="navbar-nav platforms ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/bruecksen"><i class="fab fa-lg fa-github-square"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/matthias-brück-django"><i class="fab fa-lg fa-linkedin"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.xing.com/profile/Matthias_Brueck10/"><i class="fab fa-lg fa-xing-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>