{% load wagtailcore_tags wagtailimages_tags %}
<div class="project-teaser">
{% for project in projects %}
    {% if forloop.counter0|divisibleby:3 %} <div class="row gy-5 g-md-5"> {%  endif %}
    <div class="col col-12 col-md-4">
        <div class="project shadow">
            {% image project.image fill-800x500 class="img-fluid" %}
            <h4><a href="{{ project.url }}">{{ project.title }}</a></h4>
            <div class="rich-text">
                {{ project.description|richtext }}
            </div>
            <a href="{{ project.url }}" class="more">read more <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 or forloop.last %}</div>{%  endif %}
{% endfor %}
{% if show_more_link %}
    <div class="d-flex justify-content-center">
        <a href="/projects/" class="btn btn-outline-primary">show all projects <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
    </div>
{% endif %}
</div>