{% load wagtailcore_tags wagtailimages_tags %}
<div class="project-teaser">
{% for project in projects %}
    {% if forloop.counter0|divisibleby:3 %} <div class="row"> {%  endif %}
    <div class="col col-12 col-sm-4">
        <div class="project">
            {% image project.image max-450x271 class="img-fluid" %}
            <h4><a href="{{ project.url }}">{{ project.title }}</a></h4>
            {{ project.description|richtext }}
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 or forloop.last %}</div>{%  endif %}
{% endfor %}
<a href="/projects/" class="more">all projects <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
</div>