.*
*.egg-info
*.pyc
*.swp
.env
coverage.xml
build/
dist/
docs/_build/
static-collected/
emails/
whoosh_index/
!.coveragerc
!.gitignore
*.sublime-workspace
*.sublime-project
node_modules/
brueckio/media/