# Copy this file to ".env" and enter your settings.

POSTGRES_PASSWORD=
POSTGRES_USER=
DATABASE_URL=

DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SENTRY_DSN=