{% load static i18n %}
{% load wagtailimages_tags %}

{% if value.is_circle %}
{% image value.image width-1500 class="img-fluid rounded-circle d-block mx-auto" title=value.image.title %}
{% else %}
    <figure class="figure">
        {% if value.is_full_width %}
        {% image value.image width-1500 class="figure-img img-fluid d-block vw-100" title=value.image.title %}
        {% if value.content %}
        <div class="d-none d-lg-block">
            {{ value.content }}
        </div>
        {% endif %}
        {% else %}
        {% image value.image width-1500 class="figure-img img-fluid d-block mx-auto" title=value.image.title %}
        {% endif %}
        {% if value.description %}
        <figcaption class="figure-caption">{{ value.description }}</figcaption>
        {% endif %}
    </figure>
    {% if value.content %}
        <div class="d-block d-lg-none">
            {{ value.content }}
        </div>
    {% endif %}
{% endif %}