{% load wagtailcore_tags %}
<div class="row">
    <div class="col">
        <ul class="list-inline">
            {% for fact in self.facts %}
            <li class="list-inline-item">
                <i class="{{ fact.icon }}"></i> 
                {% if fact.link %}
                <a href="{{ fact.link }}" target="_blank">
                {% endif %}
                {{ fact.fact }}
                {% if fact.link %}
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>