{% load wagtailcore_tags %}
{% load static %}
<div class="row">
    <div class="col-12 col-lg-7 offset-lg-1">
        <div class="rich-text project-heading">
            {{ value.lead_text|richtext }}
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <ul class="list-unstyled">
            {% for fact in value.facts.facts %}
            <li class="">
                {% if fact.icon == 'django' or fact.icon == 'wagtail' or fact.icon == 'bootstrap' %}
                <img src="{% static 'images/' %}{{ fact.icon }}.png" class="icon">
                {% else %}
                <i class="{{ fact.icon }}"></i> 
                {% endif %}
                {% if fact.link %}
                <a href="{{ fact.link }}" target="_blank">
                {% endif %}
                {{ fact.fact }}
                {% if fact.link %}
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>