@import "fonts";
// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$yellow:#f5b516;
$green:#00b597;
$light-green: #e1f0eb;
$dark-gray: #373a3c;
$black: #000;
$white: #fff;
$light-gray: #f7f7f7;

.hover-underline-animation {
	display: inline-block;
	position: relative;
}
.hover-underline-animation::after,
.hover-underline-animation.active::after {
	content: '';
	position: absolute;
	width: 80%;
	transform: scaleX(0);
	height: 2px;
	bottom: 5px;
	left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
	background-color: $green;
	transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after,
.hover-underline-animation.active::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.richtext-hover-underline a::after {
	background-color: $green;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Martel', sans-serif;
  color: $dark-gray;
  font-weight: 500;
  font-size: 15px;
}

.container-fill {
  // min-height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  // color: $black;
}

h1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h5 {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100px;
    // transform: scaleX(0);
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: $green;
  }
}


a {
  color: $green;
  &:hover {
    color: $green;
    text-decoration: underline;
  }
}

p {
  line-height: 1.8;
  b {
    font-weight: 800;
  }
}

.more {
  position: absolute;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 14px;
  font-weight: 600;
}

.btn {
  text-transform: uppercase;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 600;
  border-radius: 0;
  &.btn-primary {
    background-color: $green;
    border: 0;
  }
  &.btn-white {
    background-color: $white;
    color: $dark-gray;
    &:hover {
      background-color: darken($white, 5);
    }
  }
}

form {
  .form-group {
    margin-bottom: .8rem;
    position: relative;
    label {
      font-family: 'Montserrat', 'sans-serif';
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 0;
      // position: absolute;
      // bottom: 0;
      // margin-bottom: 0;
      // transition: 
      // 	background 0.3s,
      // 	bottom 0.3s;
      // position: absolute;
      // color: $dark-gray;
      // z-index: 999;
      // font-size: 1rem;
    }
    input {
      background: $white;
      border-radius: unset;
      border: none;
    }
    input[type=text],
    input[type=email],
    input[type=password] {
      // z-index: 1;
      // position: relative;
      // top: 0;
      // left: 0;
      // padding: 0;
      &:focus {
        // box-shadow: none;
        // background: transparent;
      }
      &:valid {
        // // Hides the label
        // background: $white; 
      }
      &:focus + label,
      &.error + label {
        // font-size: 80%;
        // z-index: 2;
        // bottom: -17px;
        // color: $white;
      }
      &.error {
        // color: $white;
      }
    }
    textarea {
      border: none;
      border-radius: 0;
      padding: .75rem .75rem
      // padding: 0;
    }
  }
  .btn {
    margin-top: 1rem;
  }
  .error, 
  .success {
    display: none;
    // margin-top: 1.5rem;
    text-transform: uppercase;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
  }
}



// WIDGETS
header {
  border-top: 5px solid $green;
  background-color: $light-green;
  .navbar {
    padding-left: 0;
    padding-right: 0;
    .navbar-nav {
      background: transparent;
      font-family:  'Montserrat', 'sans-serif';
      font-weight: 500;
      .nav-item {
        margin-left: 1rem;
        &.active,
        &:hover {
          .nav-link {
            // color: $green;
          }
        }
        .nav-link {
          text-transform: uppercase;
          color: $black;
        }
      }
      &.platforms {
        .nav-item {
          margin-left: 0;
        }
      }

    }
  }
}

footer {
  background-color: $light-gray;
  padding-top: 3rem;
  padding-bottom: 0;
	p, li {
    color: $black;
		font-size: 1.3rem;
		@media (max-width: 991.98px) {
			font-size: 20px;
			line-height: 1.5;
		}
		@media (max-width: 575.98px) {
			font-size: 24px;
			letter-spacing:normal;
			line-height: 1.5;
		}
	}
	.address a {
		text-decoration: none;
		color: $black;
	}
	.menu,
	.copyright,
	.email {
		a {
			display: inline-block;
			position: relative;
			text-decoration: none!important;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 2px;
        left: 0;
        background-color: $green;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
		}
	}
	.copyright {
		margin-top: 5rem;
		p {
			font-size: 11px;
		}
		.copyright-text {
			float: left;
			margin-right: 0.5rem;
		}
		p a {
			padding: 0;
			margin: 0 0.25rem;
		}
	}
	hr {
		border-color: $black;
		width: 50px;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
}

.project-teaser {
  margin-bottom: 6rem;
  position:relative;
  padding-bottom: .5rem;
  // second column
  .row [class*='col-']:not(:first-child):nth-child(n+1) {
    padding-right: 25px;
    padding-left: 25px;
  }
  // first column
  .row [class*='col-']:first-child {
    padding-right: 40px;
  }
  // last column
  .row [class*='col-']:last-child:nth-child(n+3) {
    padding-left: 40px;
  }
  .row {
    margin-bottom: 3rem;
  }
  .project {
    // border-bottom: 3px solid $light-green;
    height: 100%;
    &:hover {
      cursor: pointer;
      // border-bottom: 3px solid $green;
      // background-color: $light-green;
    }
    h4 {
      margin-top: 1.2rem;
      margin-bottom: .4rem;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 1rem;
      a {
        color: $dark-gray;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .rich-text {
      padding: 0 1rem;
    }
    p {
      font-weight: 300;
      line-height: 1.6;
    }
  }
}

.contact-banner {
  background-color: $green;
  color: $white;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 200;
  margin-bottom: 0;
  b {
    font-weight: 800;
  }
  a {
    color: $white;
    font-weight: 800;
  }
}

// PAGES
.introduction {
  margin-bottom: 7rem;
  padding-bottom: 2rem;
  h1 {
    &:after {
      content: none;
    }
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 8rem;
  }
  h2 {
    &:after {
      content: none;
    }
    font-family: 'Martel';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: none;
  }
}

.content-page {
  padding-bottom: 7rem;
}



// BLOCKS
.block-rich_text,
.block-image {
  margin-bottom: 4rem;
}

/* [1] The container */
.img-hover-zoom {
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  width: 450px;
  height: 271px;
  @media (max-width: 1199px) {
      width: 350px;
      height: 211px;
  }
  @media (max-width: 991px) {
      width: 310px;
      height: 187px;
  }
  @media (max-width: 767px) {
      width: 250px;
      height: 150px;
  }
  
  transition: all 0.5s ease;
  
  &:hover {
    transform: rotate(1.5deg);
    opacity: .8;
    cursor: pointer;
  }
}

.portfolio h2 {
  margin-bottom: 25px;
}

.portfolio .row {
  margin-bottom: 15px;
}
.portfolio .row h3 {
    margin-top: 5px;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    a {
      color: $dark-gray;
    }
}

.contact-teaser {
  border: 10px solid #00b597;
  padding: 30px;
  margin-bottom: 7rem;
  p {
    text-align: center;
    font-size: 2rem;
    line-height: 1.6;
    // font-family: 'Open Sans', sans-serif;
  }
  a {
    color: #00b597;
  }
}

.contact form input,
.contact form textarea {
  font-size: 2rem;
  border: none;
  background-color: #eee;
  box-shadow: none;
}

.contact form input {
  height: 3.5rem;
}

.contact form input[type=submit] {
  float: right; }

.contact form label {
  display: none; }

.contact form .btn-default {
  background-color: #00b597;
  border: none;
  color: #fff; }

.shadow-box {
  background-color: #fefbf3;
  padding: 30px; }

.page-template-fullwidthpagetitle p {
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.8; }

.page-template-fullwidthpagetitle h1,
.page-template-fullwidthpagetitle h2,
.page-template-fullwidthpagetitle h3,
.page-template-fullwidthpagetitle h4 {
  text-align: left;
  margin-bottom: 1rem; }


.portfolio-page .entry-content h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 1.6;
  // font-family: 'Open Sans', sans-serif; 
}

.portfolio-page .entry-content p, .portfolio-page .entry-content li {
  text-align: left;
  font-size: 1.4rem;
  line-height: 2; }

.portfolio-page .entry-content img {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); }

.portfolio-page .meta {
  margin-top: -35px;
  margin-bottom: 40px; }
  .portfolio-page .meta .col {
    text-align: center; }
  .portfolio-page .meta .fa {
    color: #00b597; }
  .portfolio-page .meta a {
    color: #373a3c; }
  .portfolio-page .meta span {
    margin-right: 5px;
    // font-family: 'Montserrat';
}


@media (max-width: 543px) {
  #full-width-page-wrapper h1 {
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 2rem; }
  #full-width-page-wrapper h2 {
    font-size: 1.8rem; }
  #full-width-page-wrapper p {
    font-size: 1.4rem;
    line-height: 2; } }


